/* keybinding table styles */
.error { background-color: #f88; }
.warning { background-color: #ff8; }
img.square {
   vertical-align: middle;
   margin-bottom: 0.1em;
   border: 1px solid black;
   height: 0.5em;
   width: 0.5em;
}

/* news styles */
dl.news dd { margin-bottom: 1.0em; }

/* faq styles */
dl.faq { counter-reset: faq; margin-left: 2em; }
dl.faq dt { font-style: italic; margin-bottom: 0.5em; font-weight: normal; color: #009; cursor: pointer; }
dl.faq dt:before { content: counter(faq) ". "; counter-increment: faq; }
dl.faq dd { border-left: 3px solid #ccc; padding: 1em; }
dl.faq dt:hover { color: #b00; }
